@model Courier_Management_system_Next.Models.AreaInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AreaInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aAreaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
